
.botonIngresarForm{
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    margin: 0 10px;
    transform-style: preserve-3d;
    transform: perspective(700px) translateZ(0);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 2px 6px rgba(0, 0, 255, 0.08);
    font-family: "Balance", sans-serif;
} 

/* Animación para vibrar */
@keyframes vibrar {
    0%, 100% {
      transform: perspective(700px) translateZ(0);
    }
    15% {
      transform: perspective(700px) translateZ(-4px);
    }
    30%, 70% {
      transform: perspective(700px) translateZ(2px);
    }
    45%, 55% {
      transform: perspective(700px) translateZ(-2px);
    }
    85% {
      transform: perspective(700px) translateZ(4px);
    }
  }

.botonIngresarForm:hover{
    animation: vibrar 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite; /* Aplicar la animación de vibración al hacer hover */
} 

 .enlace2{
    color: black;
    text-shadow: 0 0 40px white; 
    text-decoration: none;
    } 